*{ box-sizing: border-box; margin: 0; padding: 0; font-family: 'Inter', sans-serif;}
img{ display: block; } 
a{ text-decoration: none; color: #000; }
button{ cursor: pointer; border: none;} 
ul{ list-style-type: none;}

/*component*/
.action-btn{ padding: 12px 24px; border-radius: 32px; background-color: #000; color: #fff; font-weight: 700; line-height: 150%; letter-spacing: 0.1px; font-size: 16px; }
.menu-btn{ position:relative; width: 25px; height: 25px; background-color: #000; border-radius: 50%; }
.menu-btn:after{ content:''; position:absolute; top:50%; left:50%; transform: translate(-50%,-50%); display: inline-block; width: 15px; height: 8px; background:url(assets/img/menu-icon.png) no-repeat center center/cover;  }

/*pc*/
.container{ width: 1140px; margin: 0 auto;}

.gnb{ display: flex; justify-content:space-between; align-items: center; padding: 24px 32px; }
.gnb .logo a img{ width: 101px; height: 27px; }
.gnb nav{ display: flex; gap: 24px;}
.gnb nav .link{ font-weight: 500; line-height: 120%; letter-spacing: 0.1px; }
.gnb .menu-btn{display: none;}

.main{ padding: 88px 0 64px; }
.main .container{ display: flex; align-items: center; }
.main .left-box{ width: 50%; }
.main .left-box .title{ font-weight: 900; letter-spacing: -1px; font-size: 56px; line-height: 100%; margin-bottom: 24px; }
.main .left-box .title-desc{ font-size: 18px; line-height: 140%;  margin-bottom: 44px;  }
.main .left-box .action-area{ display: flex; align-items: center;} 
.main .left-box .action-area .action-btn{ margin-right: 20px; cursor: pointer; }
.main .left-box .action-area .action-desc{ font-weight: 600; font-size: 14px; }
.main .main-img{ width: 50%; border-radius: 12px ;}

.feature{ background-color: #F3F3F3; padding: 64px 0;}
.feature .container{ display: flex; flex-wrap: wrap; gap: 30px;}
.feature .feature-item{ width: calc( (100% - 60px) / 3 );}
.feature .feature-item .feature-item-title-area{ margin-bottom: 16px; }
.feature .feature-item .feature-item-title-area{ display: flex; align-items: center; }
.feature .feature-item .feature-item-title-area .feature-item-icon{ display: block; width: 40px; height: 40px; border-radius: 50%; background-color: #000; margin-right: 16px; }
.feature .feature-item .feature-item-title-area .feature-item-title{font-weight: 700; font-size: 18px; line-height: 150%; }
.feature .feature-item .feature-item-desc{ line-height: 150%; letter-spacing: 0.1px; }

.content{ background-color: #000000; padding: 92px 0;}
.content .container{ display: flex; align-items: center; }
.content .content-img{ width: 50%; border-radius: 21px; }
.content .content-right-box{ width: 50%; padding-left: 133px; }
.content .content-right-box .content-title{ font-weight: 900; letter-spacing: -0.1px; color: #fff; font-size: 24px; margin-bottom: 16px; } 
.content .content-right-box .content-desc{ line-height: 150%; color: #fff; margin-bottom: 16px;}
.content .content-right-box .content-list-box .content-list{ text-align: center; letter-spacing: 0.1px; color: #fff; }
.content .content-right-box .content-list-box .list-item{ display: flex; align-items: center; margin-bottom: 8px;}
.content .content-right-box .content-list-box .list-item:last-child{ margin-bottom: 0; }
.content .content-right-box .content-list-box  i{ display: inline-block; margin-right: 12px; width: 4px; height: 4px; border-radius: 50%; background-color: #fff; } 

.reviews{ padding: 96px 0 124px; }
.reviews .reviews-wrap{display: flex; gap:30px;}
.reviews .review-box{ position:relative;  border-radius: 8px; background-color: #F3F3F3; padding: 24px; }
.reviews .review-box .review{ font-size: 18px; line-height: 150%;margin-bottom: 56px; }   
.reviews .review-box .profile-img{ width: 64px; height: 64px; border-radius: 50%;  margin-bottom: 16px;}
.reviews .review-box .profile-name{ font-weight: 700; line-height: 150%; letter-spacing: 0.1px; margin-bottom: 4px;  }
.reviews .review-box .facebook-icon{ display:block; width: 16px; height: 16px; background: url(assets/img/facebook-icon.svg); cursor: pointer;}
.reviews .review-box .twitter-icon{ display: block; width: 16px; height: 16px; background:url(assets/img/twitter-icon.svg); cursor: pointer; }
.reviews .reviews-wrap .review-box .icon-box{ position:absolute; bottom: 24px; right: 24px;  display: flex; gap: 16px; }
.swiper-wrapper{ padding-bottom: 70px; }
.swiper-pagination-bullet{ width: 20px; height: 20px; }
.swiper-pagination-bullet-active{ background-color: #000 ; }

.action{ background: linear-gradient(80.53deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/bg.jpg)no-repeat center center /cover; padding: 192px 0; text-align: center;}
.action .subtitle{ font-weight: 500; line-height: 150%; letter-spacing: 0.1px; color: #fff; margin-bottom: 12px;  }
.action .action-title{ font-weight: 900; letter-spacing: -0.5px; color: #fff; font-size: 40px; margin-bottom: 32px; }
.action .action-btn{ background-color: #fff; color: #000; }

.footer{ background-color: #000; padding: 96px 0;}
.footer .container{ display: flex; gap: 94px;}
.footer .logo img{ width: 101px; }
.footer .footer-column-box{ display: flex; gap: 110px; }
.footer .footer-link-group .footer-link-group-title, .footer .subscribe-box .subscribe-title { font-weight: 700; line-height: 150%; letter-spacing: 0.1px; color: #fff; margin-bottom: 16px; }
.footer .footer-link-group .footer-link .footer-link-item{ font-size: 14px; line-height: 120%; color: #fff; margin-bottom: 8px;} 
.footer .footer-link-group .footer-link .footer-link-item:last-child {margin-bottom: 0px;} 
.footer .subscribe-box .subscribe-title { margin-bottom: 24px; }
.footer .subscribe-box .email-box{ position:relative; margin-bottom: 20px; }
.footer .subscribe-box .email-box input[type=email]{ width: 100%; padding:12px 24px; border:none; border-radius: 40px; background-color: rgba(255, 255, 255, 0.15); color: #fff;}
.footer .subscribe-box .email-box input[type=email]::placeholder{ line-height: 150%; letter-spacing: 0.1px; color: rgba(255, 255, 255, 0.5); }
.footer .subscribe-box .email-box .send{ position:absolute; top:8px; right:20px; border:none; width: 24px; height: 24px;  background: url(assets/img/send-icon.svg); }
.footer .subscribe-box .subscribe-desc{ font-size: 14px; line-height: 140%; color: rgba(255, 255, 255, 0.4);  }

@media (max-width: 1140px ) {
   .container{ width: 100%; padding: 0 32px; }
}

@media (max-width: 1024px){

  .container{ padding: 0 32px; }

  .main{ padding: 43px 0 34px; }
  .main .container{ flex-wrap: wrap; }
  .main .main-img{  object-fit:cover; height: 450px;}
  .main .left-box{ margin-bottom: 63px;}
  .main .left-box,.main .main-img{ width: 100%; text-align: center; }
  .main .left-box .action-area{ justify-content: center;}

  .content .container{ flex-wrap: wrap;}
  .content .content-img{ width: 100%; margin-bottom: 64px; }
  .content .content-right-box{ width: 100%; display: flex; padding-left: 0; }
  .content .content-right-box .content-title{ width: 50%; padding-right: 90px;}
  .content .content-right-box .content-tablet-wrap{ width: 50%;}
  .content .content-right-box .content-tablet-wrap br{ display: none; }

  .reviews{ padding: 48px 0 41px; }
  .reviews .reviews-wrap{ margin-bottom: 34px; }
  .reviews .dot-wrap{ display: flex; gap: 12px; justify-content: center;}
  .reviews .dot-wrap .dot{ display: block; width: 20px; height: 20px; border-radius: 50%; background-color: #f3f3f3; }

  .footer .container{ flex-wrap: wrap; gap:0;}
  .footer .logo { width: 100%; margin-bottom: 48px;}
  .footer .footer-column-box{ width: calc(100% - 356px); gap: 90px;}
}
@media (max-width:820px){
  .footer .subscribe-box{width: 170px; margin-left: auto;}
}
@media (max-width:744px){

  .container{ padding: 0 24px; }
  
  .main{ padding-bottom: 0;}
  .main .main-img{ height: 100%; }
  .main .left-box{ margin-bottom: 24px; }
  .main .left-box .title{ font-size: 40px; letter-spacing: 0.01em; }
  .main .left-box .title br{ display: none; }
  .main .left-box .title-desc{ margin-bottom: 24px; }
  .main .left-box .title-desc br{ display: none;}
  .main .left-box .action-area{ flex-direction: column;}
  .main .left-box .action-area .action-btn{ margin-right: 0; margin-bottom: 16px;}
  .main .left-box .action-area .action-desc br{ display: none;}

  .feature{ padding: 26px 0 20px; }
  .feature .container{ gap: 40px; }
  .feature .feature-item{ width: 100%; text-align: center;}
  .feature .feature-item .feature-item-title-area{ justify-content: center; margin-bottom: 10px;}
  
  .content{ padding: 24px 0; }
  .content .content-img{ margin-bottom: 29px; }
  .content .content-right-box{ flex-wrap: wrap;}
  .content .content-right-box .content-title{ padding-right: 0; margin-bottom: 29px; }
  .content .content-right-box .content-title,.content .content-right-box .content-tablet-wrap{ width: 100%;}
  .content .content-right-box{ text-align: center;}
  .content .content-right-box .content-desc{ margin-bottom: 29px; }
  .content .content-right-box .content-list-box .list-item{ position: relative; justify-content: center; }
  .content .content-right-box .content-list-box i{ position: absolute; left:0; }

  .reviews .review-box:nth-child(3){ display: none; }
  .reviews .review-box{ text-align: center;}
  .reviews .review-box .profile-img{ margin: 0 auto 20px;}
  .reviews .review-box .profile-desc{ margin-bottom: 24px; }
  .reviews .reviews-wrap .review-box .icon-box{ position: static; justify-content: center; }

  .action{ padding: 158px 0 166px; }
}

@media( max-width:566px){

  .gnb{ padding: 23px 24px;}
  .gnb nav ,.gnb .action-btn{ display: none;}
  .gnb .menu-btn{ display: block;}

  .action .action-title br{ display: none; }

  .footer{ padding:  50px 0; text-align: center; }
  .footer .logo img{ margin: 0 auto; }
  .footer .footer-column-box{ width: 100%; justify-content: center; margin-bottom: 25px; gap: 0; }
  .footer .footer-column-box .footer-link-group{ width: 33%;}
  .footer .subscribe-box{ width: 100%; margin: 0; }
  .footer .subscribe-box .subscribe-desc br{ display: none;}
}

@media( max-width:375px){

  .main{ padding: 0 0 24px;}
  .main .left-box, .main .main-img{ width: 100%;}
  .main .left-box .title { letter-spacing: -1px;}

  .content .content-right-box .content-title{ font-size: 16px; line-height: 200%; letter-spacing: -0.1px; }
  .content .content-right-box .content-desc{ font-size: 14px; }
  .content .content-right-box .content-list-box .content-list{ font-size: 14px; letter-spacing: -0.1px;}

  .reviews .review-box:nth-child(2){ display: none; }
}